
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>_AdminLayout</title>
</head>
<body>
    <div id="header">
        <div class="title">Northwind Admin Panele Hoşgeldiniz</div>
    </div>
    <div id="content"> 
        @RenderBody()
    </div>
</body>
</html>
